body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.logoutForm{
	text-align: right;
	width: auto;
	float: right;
	margin-top: 10px;
	width: 20px;
}

.mainTable{
	width: 100%;
}

.mainTable td{
	text-align: left;
}

.upload{
	margin-top: 10px;
}

#contentOfDialog{
	padding-top: 10px;
}

.uploadLine{
	margin-bottom: 10px;
}
